<%- include('../partials/admin/nav.ejs') %>

<% function useComma(price) { %>
    <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>

<section class="accountInfo">
    <section class="accDetails">
        <h2>Account Details</h2>
        <img src="<%= user.ownerImage  %>" class="accImg" alt="">
        <section>
            <section>
                <p>Your Account Number : </p>
                <p>Account Balance  : </p> 
                <p>Account Status</p>
            </section>
            <section>
                <p><%= user.accountNumber %></p>
                <p>&dollar; <%= useComma(user.balance) %></p> 
                <p><%= user.active %></p>
            </section>
        </section>
        <section class="userButton">

            <button type="button" id="adminUser" class="btn btn-outline-info btn-lg" data-bs-toggle="modal" data-bs-target="#editmodal">
                Edit Account
              </button>
            
            <form action="/admin/delete/user/<%= user._id%>?_method=DELETE" method="POST">
                <button type="submit" id="adminUser"class="btn btn-outline-info btn-lg">Delete</button>
            </form>

            <button type="button" id="adminUser" class="btn btn-outline-info btn-lg" data-bs-toggle="modal" data-bs-target="#editbalance">
                Deposit
            </button>

        <% if(!user.billingstatus) { %> 
            <form action="/admin/activatecode/<%= user._id%>?_method=PUT" method="POST">
                <button type="submit" id="adminUser"class="btn btn-outline-info btn-lg">Enable Billiing code</button>
            </form>
        <% } else { %>
            <form action="/admin/deactivatecode/<%= user._id%>?_method=PUT" method="POST">
                <button type="submit" id="adminUser"class="btn btn-outline-info btn-lg">Disable Billiing code</button>
            </form>
        <% } %>

            
            
              <form action="/admin/updatestatus/<%= user._id %>" method="post">
                <label for="actions" class="" style="font-size: 25px; font-weight : bold;">Choose Account Status</label>
                <select name="status" id="actions" class="form-control">
                    <option value="">Choose status</option>
                    <option value="active">Active</option>
                    <option value="dormant">Dormant</option>
                    <option value="closed">Closed</option>
                    <option value="disabled">Diabled</option>
                    <option value="disabled">Suspend</option>
                  </select>
                  <button type="submit" class="btn btn-outline-info" style="display : block ; margin: 10px auto;">Set Status</button>
              </form>
              <ul type="circle" class="statusinfo">
                <li><strong>Active</strong> <br> This means that the client can access all functions within his/her account</li>
                <li><strong>Dormant</strong> <br> A notice that the account is Dormant/Inactive will be shown on the client's dashboard. Also, he/she will not be able to make any transfers.</li>
                <li><strong>Closed</strong>  <br> When the account is set to Closed, it brings up a message when the client tries to log in, saying that the account no longer exist</li>
                <li><strong>Disabled</strong><br> A client will be notified when they try logging in that their account has been disabled due to violation of terms. He will be advised to contact the customer care to rectify the issue.</li>
                <li>
                    <strong>Suspend</strong> <br> A client will be notified when they try logging in that their account has been disabled due to violation of terms. He will be advised to contact the customer care to rectify the issue.
                </li>

            </ul>
        
        </section>
         
    </section>

    <section class="middle"> 
        <h2 class="">User Information</h2>
        <section>
            <section class="">
                <p>First Name : </p>  
                <p>Middle Name : </p>   
                <p>Last Name : </p>   
                <p>Email : </p>  
                <p>Mobile : </p>   
                <p>Gender : </p>   
                <p>Occupation : <p>   
                <p>Address : </p>  
                <p>Nationality : </p>
                <p>landmark : </p> 
           </section>  

            <section>
                <p> <%= user.username %></p>
                <p> <%= user.middlename %></p>
                <p><%= user.lastname %></p>
                <p><%= user.email %></p>
                <p><%= user.mobile %></p>
                <p><%= user.gender %></p>
                <p><%= user.occupation %></p>
                <p><%= user.address %></p>
                <p><%= user.nation %></p>
                <p><%= user.landmark %></p>
            </section>
        </section>
    </section>
   <section class="last">
        <h2>Next of Kin</h2>
        <section>
            <section class="">
                <p>Next Of Kin : </p>
                <p>Relationship : </p>
                <p>Mobile : </p>
                <p>Address : </p>
            </section>
            <section>
                <p><%= user.kin %></p>
                <p><%= user.relationship %></p>
                <p><%= user.kinMobile %></p>
                <p><%= user.Kinaddress %></p>
            </section>
        </section>
            
            
    </section>
</section>

   <!-- The Modal -->
   <div class="modal fade" id="editmodal">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Account Details</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <section class="modalForm">
                <form action="/admin/account/editAccount/<%= user._id %>" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="firstname" name="username" value="<%= user.username %>">
                        <label for="floatingInput">firstname</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Middlename" name="middlename" value="<%= user.middlename %>">
                        <label for="floatingInput">Middlename</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Lastname" name="lastname" value="<%= user.lastname %>">
                        <label for="floatingInput">Lastname</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Phone Number" name="phone" value="<%= user.mobile %>">
                        <label for="floatingInput">mobile</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" placeholder="Date of Birth" name="date" value="<%= user.dateOfBirth %>">
                        <label for="floatingInput">Date of birth</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="email" name="email" value="<%= user.email %>">
                        <label for="floatingInput">email</label>
                      </div>
            
            
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="occupation" name="occupation" value="<%= user.occupation %>">
                        <label for="floatingInput">occupation</label>
                      </div>
            
                      <h2 class="caption">ADDRESS</h2>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="address" name="address" value="<%= user.address %>">
                        <label for="floatingInput">Address</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="nation" name="nationality" value="<%= user.nation %>">
                        <label for="floatingInput">nationality</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="state" name="state" value="<%= user.state %>">
                        <label for="floatingInput">state</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="landmark" name="landmark" value="<%= user.landmark %>">
                        <label for="floatingInput">landmark</label>
                      </div>
            
                      <h2 class="caption">Next of Kin</h2>
            
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="kinName" value="<%= user.kin %>">
                        <label for="Enter firstname">Name</label>
                      </div>
                     
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="relationship" name="relationship" value="<%= user.relationship %>">
                        <label for="Enter firstname">relationship</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Phone Number" name="kinPhone" value="<%= user.kinMobile %>">
                        <label for="floatingInput">Phone Number</label>
                      </div>
            
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="address" name="kinaddress" value="<%= user.Kinaddress %>">
                        <label for="Enter firstname">Address</label>
                      </div>
                      <h2></h2>
                    <button type="submit" class="btn btn-outline-primary btn-lg">Edit Account</button>
                  </form>
            </section>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

<%- include('../partials/admin/modal.ejs') %>

<%- include('../partials/admin/editbalance.ejs') %>

<%- include('../partials/admin/footer.ejs') %>