<%- include('../partials/admin/nav.ejs') %>

<% function useComma(price) { %>
    <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>

<section class="reciever" style="margin-top: 60px;">
    <% if (locals.messages.errors) { %>
      <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %>    
  <% } %>
  <% if (locals.messages.info) { %>
      <% messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
      <% }) %>    
  <% } %>
    <h1 class="text-success text-center">Update Transaction</h1>
    <h3 class="text-danger"></h3>
    <form action="/admin/updateone/<%= record._id %>" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Reference Code" name="refcode" value="<%= record.referenceNo %>" readonly>
            <label for="Enter firstname">Reference Code</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="Amount" name="amount" value="<%= record.transferAmount %>" readonly>
            <label for="floatingInput">Amount</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Lastname" name="des" value="<%= record.description %>">
            <label for="floatingInput">Description</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Date" name="date" value="<%= record.date %>">
            <label for="floatingInput">Date</label>
          </div>
        <button type="submit" class="btn btn-outline-danger btn-lg">Update Transaction</button>
      </form>
</section>


<%- include('../partials/admin/footer.ejs') %>