
<%- include('./partials/banking.ejs') %>
<% function useComma(price) { %>
    <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>
<section class="iframe">
    <section class="profileInfo">
        <section>
            <h1>Welcome, <%= user.username %> <%= user.lastname %> </h1>
            <p>Account Summary</p>
        </section>
        <section class="accountactions">
            <button class="btn  btn-outline-info btn-lg cryptoButton">Crypto</button>
            <div class="dropdown">
                <button type="button" class="btn btn-outline-info btn-lg dropdown-toggle" data-bs-toggle="dropdown">
                  Transfer
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" target="dashboard" href="/transfer/<%= user._id %>">Local Transfer</a></li>
                  <li><a class="dropdown-item" target="dashboard" href="/international/<%= user._id %>">International Transfer</a></li>
                </ul>
              </div>
        </section>
    </section>    
    <section class="mainSection">
        <section class="mainSectionFirst">
            <h2>Overview</h2>
            <section>
                <img src="<%= user.ownerImage %>" alt="">
                <section>
                    <p>Available Balance</p>
                    <h2>GBP</h2>
                    <h2>&dollar; <%= useComma(user.balance)  %> </h2>
                    <p><%= user.username %> <%= user.lastname %>  </p><br><br>
                </section>
            </section>
                <h6 class="text-danger">Account Type  : Current </h6>
                <h6 class="text-danger">Approved For All Kind of International Transfers </h6>
                <% if(user.active === 'dormant') { %>
                    <p class="lead text-danger"> <strong style="text-decoration: underline;">Urgent Notice</strong> <br> This is to inform you that an unsual activity have been detected on your account. it has been made dormant to keep the account safe, it cannot make any transaction. Please contact the support team to protect your account and reactivate your account</p>
                <% } %>
        </section>
        <section class="">
            <h2>Checking Account</h2>
            <section class="accountCheck">
               <p>  <%= user.accountNumber  %> </p>
               <p>&dollar; <%= useComma(user.balance) %> GBP</p>
            </section>
            <h2>Loans and Lines of credit</h2>
            <section class="loansCheck">
                <section class="accountCheck">
                    <p>Business Support Loan</p>
                    <strong>+4000 GBP</strong>
                </section>
                <section class="accountCheck">
                    <p>FICO Credit Store</p>
                    <p>750</p>
                </section>
            </section>
        </section>
    </section>

     
    <section class="middleLevel">
        <section class="transactionSummary">
            <% if(summary.length > 0) { %>
                <h3>Transaction Summary...</h3>
                <% for(let i = 0; i < summary.length; i++) { %>
                    <% if( i === 3) { %>
                        <% break %>
                    <% } %>
                        <section>
                            <% if( summary[i].fromNo === user.accountNumber) { %>
                                <p class="text-danger"> Amouunt :  &dollar; <%= useComma(summary[i].transferAmount) %></p>
                            <% } else { %>
                                <p class="text-info"> Amount &dollar; <%= useComma(summary[i].transferAmount) %></p>
                            <% } %>
    
                            <% if( summary[i].fromNo === user.accountNumber) { %>
                                <strong> Type : Debit</strong>
                            <% } else { %>
                                <strong> Type : Credit</strong>
                            <% } %>
                            <p> Reciever : <%= summary[i].from %></p>
                            <p> Reciever Account Number : <%= summary[i].fromNo %></p>
                            <p> Remarks : <%= summary[i].description %></p>
                            <a href="/view/transaction/<%= summary[i]._id %>/<%= user.accountNumber %>" class="btn btn-outline-info btn-md">View Details</a>  
                        </section>              
                <% } %>
                <a href="/user/transactions/<%= user.accountNumber %>" id="transact" class="btn btn-outline-success btn-md">View All Transaction</a>
            <% } else { %>
            <h1>No Transaction have been made in this account</h1>
            <% } %>
        </section>
        
        <section>
            <strong>We’re here to help you!</strong>
            <p>Ask a question or file a support ticket, manage request, report an issues. Our team support team will get back to you by email.</p>
            <button class="btn btn-outline-primary btn-lg">Get Support Now</button>

            <section class="award">
                <p>The Directors, The Management Of Utopia International Bank Cordially Request for Your Presence In Our Global Dinner Night and Award Night. The Awareded Is Presented To Deserving Staffs and Customers In Appreciation And Recognition Of Their Unflinching Support And Loyalty To Our Bank. It Be Your Slot On The Next, It Is A Yearly Event. Thanks For Banking With Us.. </p>
            </section>
        </section>
    </section>
    
</section>



<!-- The Modal -->
<div class="modal" id="love">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
<%- include('./partials/bankfooter.ejs') %>