<%- include('./partials/banking.ejs') %>
<% function useComma(price) { %>
    <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>


<section class="profile"> 
    <section class="profileDirectChild">
        <section>
            <p>Available Balance</p>
            <h5>&dollar; <%= useComma (user.balance) %> GBP</h5>
            <strong>&dollar; <%= useComma(user.balance)  %> GBP</strong>
        </section>
        <div class="dropdown dropdownDiv">
          <button type="button" class="btn btn-outline-info btn-lg dropdown-toggle" data-bs-toggle="dropdown">
            Transfer
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" target="dashboard" href="/transfer/<%= user._id %>">Local</a></li>
            <li><a class="dropdown-item" target="dashboard" href="/international/<%= user._id %>">Wire / International</a></li>
          </ul>
        </div>
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <h2 class="text-success">Hello, <%= user.username %></h2>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a href="/dashboard/<%= user._id %>" target="dashboard" class="btn btn-outline-info btn-lg active">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a href="/profile/<%= user._id %>" target="dashboard" class="btn btn-outline-primary btn-lg">My Account</a>
                  </li>
                  <li class="nav-item">
                    <a href="/user/transactions/<%= user.accountNumber %>" target="dashboard" class="btn btn-outline-primary btn-lg">Bank Statements</a>
                  </li>
                  <li class="nav-item">
                    <a href="/transfer/<%= user._id %>" target="dashboard" class="btn btn-outline-primary btn-lg">Local Transfer</a>
                  </li>
                  <li class="nav-item">
                    <a href="/international/<%= user._id %>" target="dashboard" class="btn btn-outline-primary btn-lg">International Transfer</a>
                  </li>
                  <li class="nav-item">
                    <a href="/help" target="dashboard" class="btn btn-outline-primary btn-lg">Get Help</a>
                  </li>
                  <li class="nav-item">
                    <a href="/logout" class="btn btn-outline-primary btn-lg">Log Out</a>
                  </li>
                  <li class="nav-item">
                    <div id="google_translate_element" class="container"></div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </section>
    <section>
        
            <div class="container-fluid userNav" style="position: relative ;">  
                <a href="/pandemic" target="_blank">Do you know the latest of Covid 2019 ? See World Bank Response to the Global Pandemic</a> 
                <section class="userDashboard">
                  <div>

                  </div>
                  <section class="dropdown">
                    <button type="button" class="dropdown-toggle btn btn-outline-info" data-bs-toggle="dropdown">
                      <%= user.username %> <%= user.lastname %> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item btn btn-outline-info" href="/logout">logout <%= user.username %></a></li>
                    </ul>
                  </section>
                  <img src="<%= user.ownerImage %>" alt="">
                </section>   
                
            </div>
            
           
            
          

        <iframe src="/dashboard/<%= user._id %>" scrolling="yes" width="100%" height="1600" name="dashboard" allowfullscreen="true">sullivan</iframe>
        
        
        <%- include('./partials/framefooter.ejs') %>
    </section>
</section>

<%- include('./partials/bankfooter.ejs') %>