<%- include('./partials/banking.ejs') %>


<h1>Hello, <%= user.email %></h1>

<section>
    <section>
        <section>
            <h1>Welcome, <%= user.username %> <%= user.lastname %> </h1>
        </section>
    </section>
    <section>

    </section>
    <section>

    </section>
</section>


<%- include('./partials/bankfooter.ejs') %>