<%- include('./partials/banking.ejs') %>
<% function useComma(price) { %>
    <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>


<section class="reviewPage">
    <h1 class="text-success text-center">Confirm Transaction Details before Proceeding</h1>
    <section>
        <section>
            <p>Sender Name : </p>
            <p>Sender Account Number : </p>
            <p>Reciever Name : </p>
            <p>Reciever Account Number : </p>
            <p>Description : </p>
            <p>Amount : </p>
            <p>Bank Name : </p>
        </section>
        <section>
            <p><%= user.from %></p>
            <p><%= user.fromNo %></p>
            <p><%= user.toName %></p>
            <p><%= user.toNumber %></p>
            <p><%= user.description %></p>
            <p><%= user.transferAmount %></p>
            <p><%= user.tobank %></p>
        </section>
    </section>
    <section>
        <% if(!user.status) { %>
            <a href="/edit/history/<%= user._id %>" target="dashboard" class="btn btn-outline-success btn-lg">Edit Transaction</a>
            <% } else { %>
            <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#delete">
                Delete Transaction
            </button>
            <% } %>
        
        <a href="/confirm/<%= user._id %>" class="btn btn-outline-success btn-lg">Send</a>
    </section>
</section>

<!-- Button to Open the Modal -->



<!-- The Modal -->
<div class="modal fade" id="delete">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-success">Confirm <%= user.from %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h4 class="text-center text-danger">Do you actual want to delete this transaction ?</h4>
        <section class="confirmButton">
            <a href="#" target="dashboard" class="btn btn-outline-success btn-lg">No</a>

            <form action="/delete/transaction/<%= user._id %>/<%= user.fromNo %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-success btn-lg">Yes</buttons>
            </form>
           
        </section>
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<%- include('./partials/bankfooter.ejs') %>