<%- include('../partials/banking.ejs') %>
<% function useComma(price) { %>
  <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>


<div id="progressBarWrapper">
	<div id="progressBar"></div>
	<p class="text-info text-center">confirming COT code.... Please wait</p>
</div>

<section id="content" style="display:none;" class="container transfer">
    <h2 class="text-success">International Monetary Fund</h2>
    <p>The world bank policy and restriction by standandization from the recent reforms, Directives from the banking world quaters, International or Wire with be in compliance with interantinal monetary rules and for transaction involving a large amount of money in any currency, it was be authorized and be monitored by internation monetary fund through their <strong>Code of Approval and Indemnity</strong> makimg the interantinal body obligated to share in the loss if any. Contact the customer service to acquire the code to continue continue the transaction(s)</p>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>    
    <% } %>
	
	  <div>
		<form action="/confirm/imf/<%= transaction[1].trans %>" method="POST">
		  <div class="form-floating mb-3">
			<input type="number" class="form-control" id="cotcode" placeholder="amount" name="imf">
			<label for="cotcode">Enter IMF Number</label>
		  </div>
		  <input type="hidden" name="cotnum" value="<%= transaction[0].cot %>">
		  <button type="submit" class="btn btn-outline-primary btn-lg transferButton">SEND IMF</button>
		</form>
	  </div>
 	
</section>
	  
	


<%- include('../partials/bankfooter.ejs') %>