<%- include('../partials/banking.ejs') %>
<% function useComma(price) { %>
  <% return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
<% } %>

<div id="progressBarWrapper">
	<div id="progressBar"></div>
	<p class="text-info text-center">confirming IMF code.... Please wait</p>
</div>

<section id="content" style="display:none;" class="container transfer">
    <h2 class="text-success">TAX/VAT Request</h2>
    <p>A tax is a compulsory financial charge or some other type of levy imposed on a taxpayer (an individual or legal entity) by a governmental organization in order to fund government spending and various public expenditures. A failure to pay, along with evasion of or resistance to taxation, is punishable by law</p>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    
    <div>
        <form action="/confirm/tax/<%= transaction[2].trans %>"  method="POST">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="tax" placeholder="amount" name="tax">
                <label for="tax">Enter Tax Number</label>
              </div>
              <input type="hidden" name="cotnum" value="<%= transaction[0].cot %>">
              <input type="hidden" name="imfcode" value="<%= transaction[1].imf %>">
            <button type="submit" class="btn btn-outline-primary btn-lg transferButton">Send Tax Code</button>
          </form>
    </div>
</section>

<%- include('../partials/bankfooter.ejs') %>